aws-requests-auth==0.4.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.28
elasticsearch==5.4.0
gmplot==1.1.1
idna==2.6
oauthlib==2.0.6
pytz==2017.2
requests==2.18.4
requests-aws4auth==0.9
requests-oauthlib==0.8.0
simplejson==3.11.1
six==1.11.0
tweepy==3.5.0
urllib3==1.22
